body {
  font-size: 16px;
}

ul {
list-style-type: none;
}

.form-control {
  height: 48px;
  font-size: 16px;
}

.navbar-text a {
   margin-right: 20px;
}


// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage as a mixin
.element {
  .center-block();
}

#student_form {
   padding-left: 0px;
}

#profile_fullname, #profile_spousename {
   font-weight: bold;

}

#profile_spousename {
   margin-bottom: 5px;

}
