{% extends 'layout.html.twig' %}
{% block content %}
<div class="row">
    <h5>
    {% if mode == 'host' %}
        Register to host lessons at your private pool
    {% elseif mode == 'guest' %}
        Register to join a scheduled group hosted by your friend or neighbor
    {% elseif mode == 'place' %}
        Register to be placed into an available group in your area
    {% endif %}
    </h5>

    {% block progress_bar %}{% endblock progress_bar %}
    {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'danger'] %}
    {% for alert in alertTypeAvaillable %}
        {% for message in app.session.getFlashBag.get(alert) %}
            <div class="alert alert-{{ alert }}" >
                <button class="close" data-dismiss="alert">×</button>
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block form %}{% endblock form %}
</div>
{% endblock content %}

